# PostgreSQL
POSTGRES_USER=kanban
POSTGRES_PASSWORD=kanban_secret
POSTGRES_DB=kanban_db

# Fast API Connection string
DATABASE_URL=postgresql+asyncpg://kanban:kanban_secret@db:5432/kanban_db

# Redis
REDIS_URL=redis://redis:6379

# OpenAI
OPENAI_API_KEY=sk-...
